nodered.txt
[{"id":"f7618022.7e146","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"33795f03.15481","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"ca35a8e9.a9be78","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"5a7da829.23dfc8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"90a82755.7d4ac8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff8000","baseFont":"Times New Roman,Times,serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#808080","baseFont":"Georgia,Georgia,serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#1bbfff","edited":true},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":true},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Cancer analysis","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"881d4add.ce15b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a1be347d.3bedf8","type":"ui_group","z":"","name":"Survival analysis","tab":"881d4add.ce15b8","disp":true,"width":"6","collapse":false},{"id":"1b6eab6a.0cf485","type":"function","z":"f7618022.7e146","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar year=global.get(\"year\");\nvar ax=global.get(\"ax\");\nmsg.payload={\"fields\":[\"age\",\"year\",\"ax\"],values:[[age,year,ax]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":102,"wires":[["a251694.977d598"]]},{"id":"a251694.977d598","type":"http request","z":"f7618022.7e146","name":"something","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/346f3b81-0d76-4228-a266-34e3ac54c39f/deployments/7437335f-5faa-4821-8cf0-88d3734a3939/online","tls":"","proxy":"","authType":"basic","x":418,"y":155,"wires":[["3e9a6060.650fa"]]},{"id":"3e9a6060.650fa","type":"function","z":"f7618022.7e146","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":662,"y":179,"wires":[["b82fc11.2e69f4","e312c3af.784ba"]]},{"id":"e312c3af.784ba","type":"debug","z":"f7618022.7e146","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":746,"y":67,"wires":[]},{"id":"f2906c5e.3eb23","type":"ui_form","z":"f7618022.7e146","name":"","label":"Analysis","group":"a1be347d.3bedf8","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true},{"label":"Operation Years","value":"year","type":"number","required":true},{"label":"Lymph Nodes","value":"ax","type":"number","required":true}],"formValue":{"age":"","year":"","ax":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":79,"y":426,"wires":[["a62f5ac3.d37678"]]},{"id":"b82fc11.2e69f4","type":"ui_text","z":"f7618022.7e146","group":"a1be347d.3bedf8","order":1,"width":0,"height":0,"name":"","label":"Survival","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":339,"wires":[]},{"id":"f6dd2a.6f0d02d8","type":"inject","z":"f7618022.7e146","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117,"y":186,"wires":[["a62f5ac3.d37678"]]},{"id":"72d471dc.6a3ed","type":"http request","z":"f7618022.7e146","name":"machine learning","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":288,"y":351,"wires":[["1b6eab6a.0cf485","1d49049c.28654b"]]},{"id":"2388558.13cc0aa","type":"debug","z":"ca35a8e9.a9be78","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":613,"y":364,"wires":[]},{"id":"c773834d.d3286","type":"function","z":"ca35a8e9.a9be78","name":"prediction","func":"var token=msg.payload.token;\nvar yoe=global.get(\"yoe\");\nmsg.payload={\"fields\":[\"YearsExperience\"],\"values\":[[yoe]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":213,"y":69,"wires":[["b7b5f8e6.4582d8"]]},{"id":"b7b5f8e6.4582d8","type":"http request","z":"ca35a8e9.a9be78","name":"something","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/346f3b81-0d76-4228-a266-34e3ac54c39f/deployments/daa72c3b-688c-44db-bcfe-604209a5e1b9/online","tls":"","proxy":"","authType":"basic","x":388,"y":85,"wires":[["2ead6b19.5e7f14","155e54cc.1acffb"]]},{"id":"155e54cc.1acffb","type":"function","z":"ca35a8e9.a9be78","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":211,"wires":[["811fdd3a.a2ae4"]]},{"id":"2ead6b19.5e7f14","type":"debug","z":"ca35a8e9.a9be78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":626,"y":84,"wires":[]},{"id":"1fe84649.16e08a","type":"ui_form","z":"ca35a8e9.a9be78","name":"","label":"","group":"a1be347d.3bedf8","order":0,"width":0,"height":0,"options":[{"label":"Years of Experience","value":"yoe","type":"number","required":true}],"formValue":{"yoe":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":436,"wires":[["3e67266.42a8ada","6a12b5d2.6ca4ec"]]},{"id":"3e67266.42a8ada","type":"ui_text","z":"ca35a8e9.a9be78","group":"a1be347d.3bedf8","order":0,"width":0,"height":0,"name":"","label":"User input","format":"{{msg.payload.yoe}}","layout":"row-spread","x":374,"y":438,"wires":[]},{"id":"811fdd3a.a2ae4","type":"ui_text","z":"ca35a8e9.a9be78","group":"a1be347d.3bedf8","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":757,"y":200,"wires":[]},{"id":"6a12b5d2.6ca4ec","type":"function","z":"ca35a8e9.a9be78","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"df659b97-290b-4fab-841d-f88db0f45cd8\"\nvar password=\"69841ad2-d8a8-452e-8044-2763e8508998\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"yoe\",msg.payload.yoe)\nreturn msg;\n","outputs":1,"noerr":0,"x":265,"y":271,"wires":[["b7e6a29d.a09bd"]]},{"id":"93582af1.1716d8","type":"inject","z":"ca35a8e9.a9be78","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146,"y":193,"wires":[["6a12b5d2.6ca4ec"]]},{"id":"b7e6a29d.a09bd","type":"http request","z":"ca35a8e9.a9be78","name":"machine learning","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":362,"y":366,"wires":[["2388558.13cc0aa","c773834d.d3286"]]},{"id":"a62f5ac3.d37678","type":"function","z":"f7618022.7e146","name":"token","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"df659b97-290b-4fab-841d-f88db0f45cd8\"\nvar password=\"69841ad2-d8a8-452e-8044-2763e8508998\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nreturn msg;\n","outputs":1,"noerr":0,"x":212,"y":271,"wires":[["72d471dc.6a3ed"]]},{"id":"1d49049c.28654b","type":"debug","z":"f7618022.7e146","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":529,"y":414,"wires":[]},{"id":"343190d1.af6fe","type":"debug","z":"5a7da829.23dfc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":544.1111450195312,"y":183.88886260986328,"wires":[]},{"id":"a777cf9c.99d8b","type":"inject","z":"5a7da829.23dfc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104,"y":162,"wires":[["1ef2e7a5.21bbe8"]]},{"id":"1ef2e7a5.21bbe8","type":"http request","z":"5a7da829.23dfc8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":297,"y":161,"wires":[["fc386f1.5a6c89","343190d1.af6fe"]]},{"id":"fc386f1.5a6c89","type":"function","z":"5a7da829.23dfc8","name":"prediction input","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar year=global.get(\"year\");\nvar nodes=global.get(\"nodes\");\nmsg.payload={\"fields\":[\"Age\",\"Year\",\"Nodes\"],\"values\":[[age,year,nodes]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":263,"wires":[["3ffc4259.49c0be","343190d1.af6fe"]]},{"id":"3ffc4259.49c0be","type":"http request","z":"5a7da829.23dfc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/346f3b81-0d76-4228-a266-34e3ac54c39f/deployments/7437335f-5faa-4821-8cf0-88d3734a3939/online","tls":"","proxy":"","authType":"basic","x":382.4444580078125,"y":345.2221984863281,"wires":[["577cfc45.751ac4"]]},{"id":"5196123d.d5a85c","type":"ui_form","z":"5a7da829.23dfc8","name":"","label":"","group":"a1be347d.3bedf8","order":5,"width":0,"height":0,"options":[{"label":"Enter age","value":"age","type":"number","required":true},{"label":"Enter operated year","value":"year","type":"number","required":true},{"label":"enter lymph nodes","value":"nodes","type":"number","required":true}],"formValue":{"age":"","year":"","nodes":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":77,"y":347,"wires":[["74124a9b.a36fa4"]]},{"id":"74124a9b.a36fa4","type":"function","z":"5a7da829.23dfc8","name":"input","func":"global.set(\"age\",msg.payload.age);\nglobal.set(\"year\",msg.payload.year);\nglobal.set(\"nodes\",msg.payload.nodes);\nreturn msg;","outputs":1,"noerr":0,"x":106,"y":256,"wires":[["1ef2e7a5.21bbe8"]]},{"id":"577cfc45.751ac4","type":"function","z":"5a7da829.23dfc8","name":"Json parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":515.3333129882812,"y":449.77777099609375,"wires":[["ef87a8ee.d04bc8","343190d1.af6fe","18afa395.3e46ec"]]},{"id":"ef87a8ee.d04bc8","type":"ui_text","z":"5a7da829.23dfc8","group":"a1be347d.3bedf8","order":6,"width":0,"height":0,"name":"","label":"survival","format":"{{msg.payload}}","layout":"row-spread","x":777,"y":163,"wires":[]},{"id":"18afa395.3e46ec","type":"function","z":"5a7da829.23dfc8","name":"output","func":"if(msg.payload== 1)\n{\n    msg.payload=\"Survived less than 5 years\";\n}\nelse \n{\n    msg.payload=\"Survived more than 5 years\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":245,"wires":[["ef87a8ee.d04bc8"]]}]